<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/ecohogar.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
        <script src="/views/script.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/views">Inicio</a></li>
            <li><a href="/views/pages/medioAmbiente.html">Contaminación</a></li>
            <li><a href="/views/pages/especies.html">Fauna</a></li>
            <li><a href="/views/pages/ecohogar.html">Ecohogar</a></li>
            <li><a href="/views/pages/tecnologia.html">Tecnología</a></li>
        </ul>
    </nav>
    

    <div id="navbar-container"></div>

    <header class="head">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="titulo1"> INICIATIVA ECO HOGAR</h1>
    </header>

    <div class="parrafo1">
        <h1 class="parrafop">Nuestro propósito</h1>
        <p class="parrafop"> Eco hogar busca reducir el impacto por contaminación de aceite vegetal quemado.
            En la comunidad se ha encontrado residuos del mismo en las fuentes hídricas o en diferentes ecosistemas de
            la ciudad.
            Para ello, Eco Hogar contribuye con la prevención, con la fabricación de productos elaborados a base de
            aceite reciclado.
        </p>
    </div>
    <div class="seccionp">
        <div class="productostittle">
            <h1 class="tittle1">PRODUCTOS</h1>
            <p class="parrafo1"> A continuación te presentamos algunos de nuestros productos elaborados a base de aceite
                vegetal usado
            </p>
        </div>

        <div class="productos">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/images/37.png" alt="Nombre del producto" class="producto">
                        <button class="vermas" onclick="flipCard(event)">Ver más</button>
                    </div>
                    <div class="card-back">
                        <h3>Velas del Mar</h3>
                        <p>suave aroma de la lavanda, conocido por sus propiedades relajantes y calmantes. Ideal para
                            usar en espacios como el dormitorio o durante una sesión de meditación.
                            Uso recomendado: Relajación, alivio del estrés y ayuda para dormir.
                            Vela de Vainilla Dulce</p>
                        <h4>Percio: $10.0000</h4>
                        <button class="vermas" onclick="flipCard(event)">Volver</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/images/38.png" alt="Nombre del producto" class="producto">
                        <button class="vermas" onclick="flipCard(event)">Ver más</button>
                    </div>
                    <div class="card-back">
                        <h3>Sala Ecologica</h3>
                        <p>La sala de estar es el corazón del hogar, donde se mezclan comodidad y estilo. Con muebles
                            suaves y cómodos, como un sofá grande y mullido, acompañado de cojines de terciopelo y
                            mantas tejidas, crea un ambiente cálido y relajante.</p>
                        <h4>Percio: $100.0000</h4>
                        <button class="vermas" onclick="flipCard(event)">Volver</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/images/39.png" alt="Nombre del producto" class="producto">
                        <button class="vermas" onclick="flipCard(event)">Ver más</button>
                    </div>
                    <div class="card-back">
                        <h3>Jabón Artesanal</h3>
                        <p>Una combinación reconfortante de vainilla y miel, que deja la piel suave y nutrida. Su dulce
                            aroma proporciona una experiencia sensorial de lujo.</p>
                        <h4>Percio: $20.000</h4>
                        <button class="vermas" onclick="flipCard(event)">Volver</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/images/40.png" alt="Nombre del producto" class="producto">
                        <button class="vermas" onclick="flipCard(event)">Ver más</button>
                    </div>
                    <div class="card-back">
                        <h3>Jabón Artesanal</h3>
                        <p> Este jabón de aroma fresco y energizante, compuesto por aceites esenciales de naranja, limón
                            y toronja, proporciona un impulso revitalizante.</p>
                        <h4>Percio: $20.000</h4>
                        <button class="vermas" onclick="flipCard(event)">Volver</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/images/41.png" alt="Nombre del producto" class="producto">
                        <button class="vermas" onclick="flipCard(event)">Ver más</button>
                    </div>
                    <div class="card-back">
                        <h3>Velas Aromáticas</h3>
                        <p> Con el delicado y embriagador aroma del jazmín, esta vela añade una nota floral y romántica
                            al ambiente. Ideal para cenas especiales o espacios íntimos.</p>
                        <h4>Percio: $20.000</h4>
                        <button class="vermas" onclick="flipCard(event)">Volver</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="/images/42.png" alt="Nombre del producto" class="producto">
                        <button class="vermas" onclick="flipCard(event)">Ver más</button>
                    </div>
                    <div class="card-back">
                        <h3>Velas Aromáticas</h3>
                        <p> Con un aroma profundo, terroso y ligeramente amaderado, esta vela es ideal para la
                            meditación o la relajación.</p>
                        <h4>Percio: $30.000</h4>
                        <button class="vermas" onclick="flipCard(event)">Volver</button>
                    </div>
                </div>
            </div>

        </div>

        <section class="procesop">
            <div class="proceso">
                <div class="textosp">
                    <h1>Nuestro proceso Eco Hogar</h1>
                    <p> Te invitamos a conocer el proceso que realizamos para llevar a tus manos, los mejores productos
                        artesanales 100% amigables con el medio ambiente</p>
                </div>
                <img src="/images/procesp.svg" class="procesoimg">

        </section>

        <div class="contacto">
            <h1 class="contactot">Contáctanos</h1>

            <div class="container">
                <form id="formulario personas">
                    <label for="nombre-apellido"></label>
                    <input type="text" id="nombre-apellido" name="nombre-apellido" placeholder="Nombre Completo"
                        required>
                    <label for="email"></label>
                    <input type="text" id="email" name="email " placeholder="Correo Electronico" required>
                    <label for="Telefono"></label>
                    <input type="text" id="Telefono" name="ciudad" placeholder="Telefono" required>




                    <button type="submit">Registrarse</button>
                </form>
            </div>


        </div>

        <footer class="footer">
            <div class="footerc">
                <p>&copy;2024 BIOFAUNA COLOMBIA Todos los derechos reservados</p>
            </div>
        </footer>

        <script src="/js/funcioneseco.js"></script>

</body>

</html>