<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/especies.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
</head>
<header>

</header>

<body>
    <nav>
        <ul>
            <li><a href="/views">Inicio</a></li>
            <li><a href="/views/pages/medioAmbiente.html">Contaminación</a></li>
            <li><a href="/views/pages/especies.html">Fauna</a></li>
            <li><a href="/views/pages/ecohogar.html">Ecohogar</a></li>
            <li><a href="/views/pages/tecnologia.html">Tecnología</a></li>
        </ul>
    </nav>
    
    <div class="banner1">
        <h1 class="tittle1"> Especies Endemicas</h1>
        <p class="parrafo1">Colombia, un país con una increíble diversidad de fauna, pero también un país en el que
            luchamos a diario contra la contaminación y diferentes retos que esta temática nos genera cada día. 
            Dentro de estos retos encontramos que nuestra fauna se ve afectada en gran medida.</p>

    </div>

    <div class="gallery1">

        <div class="imagesp">
            <img src="/images/25.png" alt="" class="imagesp1">
            <img src="/images/12.png" alt="" class="imagesp2">
            <img src="/images/15.png" alt="" class="imagesp3">
            <img src="/images/16.png" alt="" class="imagesp4">
        </div>
        <p class="parrafo">Sin embargo, esta riqueza natural está en peligro. Factores como la contaminación y el
            calentamiento global están acelerando la desaparición de muchas de estas especies. En este espacio, te
            compartiremos datos clave que toda la población colombiana debería conocer para entender el impacto de
            nuestras acciones y costumbres culturales.</p>
    </div>

    <div class="especiesE">
        <h1 class="especiesEt">Especies Endemicas en via de extinción</h1>
        <p class="especiesEtp">A continuación te mostraremos algunas de nuestras especies endémicas que se encuentran en
            vía de extinción.
        </p>
    </div>

    <div class="gallery2">
        <button class="navbutton" onclick="prevSlide()">&#10094;</button>

        <div class="textos">
            <h1 id="species-name" class="tituloex">Nombre de la especie</h1>
            <p id="species-description" class="parrafoex">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsam enim exercitationem autem saepe,
                odit ab architecto aperiam, consectetur cupiditate repellat sapiente mollitia dolores dolore, nisi eaque
                recusandae nulla soluta?
            </p>
        </div>

        <div class="especiesEx">
            <img id="species-image" src="" alt="Especie" class="especiesg">
        </div>

        <button class="navbutton" onclick="nextSlide()">&#10095;</button>
    </div>

    <!-- <div class="mapa">
        <h1 class="tittle2">Mapa Con especies</h1>
        <p class="parrafo2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quis similique eius
            consectetur eveniet ad
            sunt adipisci cum magnam atque. Ipsa alias totam dolor quia, tempora blanditiis tenetur ipsum corporis?</p>
        <div class="Mapa">
            <img src="" alt="" class="mapa1">
        </div>
        <div class="infomapa">
            <h1>Departamento X</h1>
            <p class="descripcion">esta es la descripcion del animal</p>
        </div>
        <div class="galeriamap">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div> -->

    <div class="container3">
        <button class="navbutton" onclick="prevSlide2()">&#10094;</button>
        <div class="gallery3">
            <div class="textospov">
                <h1>POV Especies</h1>
            </div>

            <div class="povespecies">
                <img id="povimages" src="" alt="Especie" class="povimg">
            </div>
            <div class="parrafopov">
                <p>Estas imágenes son una simulación de POV (Point of view) de algunos animales, queremos que te pongas
                    en el lugar de cada animal y veas lo que el animal observa a su al rededor cuando vive en una zona
                    contaminada</p>
            </div>
        </div>
        <button class="navbutton" onclick="nextSlide2()">&#10095;</button>
    </div>



    <script src="/js/funciones.js"></script>
    <script src="/js/funciones2.js"></script>
</body>

<footer class="footer">
    <div class="footerc">
        <p>&copy;2024 BIOFAUNA COLOMBIA Todos los derechos reservados</p>
    </div>
</footer>

</html>