<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECO HOGAR </title>
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<script src="java/funciones.js"></script>

<body>
    <nav>
        <ul>
            <li><a href="/views">Inicio</a></li>
            <li><a href="/views/pages/medioAmbiente.html">Contaminación</a></li>
            <li><a href="/views/pages/especies.html">Fauna</a></li>
            <li><a href="/views/pages/ecohogar.html">Ecohogar</a></li>
            <li><a href="/views/pages/tecnologia.html">Tecnología</a></li>
        </ul>
    </nav>
    

    </section>
    </Main>
    <div class="container">
        <h1> CONTACTANOS </h1>
        <form id="formulario personas">
            <label for="nombre-apellido"></label>
            <input type="text" id="nombre-apellido" name="nombre-apellido" placeholder="Nombre Completo" required>
            <label for="email"></label>
            <input type="text" id="email" name="email " placeholder="Correo Electronico" required>
            <label for="Telefono"></label>
            <input type="text" id="Telefono" name="ciudad" placeholder="Telefono" required>
            
          


                <button type="submit">Registrarse</button>
            </form>
    </div>

    

    <script src="script.js"></script>
</body>



</html>