<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../images/LOGO-COP16.ico">
    <!--este lo que hace es modificar el icono de la página -->
    <meta name="description" content="Página enfocada al desarrollo tecnológico y el impacto que este genera en la conservación de la biofauna,
         principalmente en el territorio colombiano en el marco de la COP16" />
    <!--lorem de entre 150 y 170 caracteres describiendo la pagina-->
    <link rel="stylesheet" href="/css/tecnologia.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <title>Tecnología - Biofauna</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/views">Inicio</a></li>
            <li><a href="/views/pages/medioAmbiente.html">Contaminación</a></li>
            <li><a href="/views/pages/especies.html">Fauna</a></li>
            <li><a href="/views/pages/ecohogar.html">Ecohogar</a></li>
            <li><a href="/views/pages/tecnologia.html">Tecnología</a></li>
        </ul>
    </nav>
    
    <main>
        <section id="titulo" class="titulo">
            <img src="/images/Camara_trampa.2.jpg" alt="Camara Trampa" title="Camara Trampa" width="500">
            <h1>TECNOLOGÍA EN LA CONSERVACIÓN DE LA FAUNA</h1>
        </section>
        <section id="descanso" class="descanso">
            <article id="article_d" class="article_d">
                <h2>LA INNOVACION TECNOLÓGICA ESTÁ JUGANDO UN PAPEL CADA VEZ MÁS IMPORTANTE EN LA CONSERVACIÓN DE LA
                    FAUNA.</h2>
                <br>
                <p>Por ejemplo, Gracias a <span>dispositivos GPS, sensores remotos y drones</span>, podemos rastrear los
                    movimientos de especies
                    en peligro de extinción en tiempo real y a lo largo de vastas áreas. <br>De la mano de <span>la
                        inteligencia
                        artificial y el aprendizaje automático</span> se pueden analizar grandes volúmenes de datos
                    recopilados con
                    cámaras trampa, sensores acústicos y otras fuentes. <br>La participación ciudadana junto con
                    <span>aplicaciones móviles y plataformas en línea</span> en las cuales pueden reportar avistamientos
                    de especies,
                    participar en proyectos de ciencia ciudadana y contribuir a la recolección de datos.
                </p>
            </article>
        </section>
        <section id="introduccion" class="introduccion">
            <img src="/images/drone-flying.2.jpg" alt="Dron de monitoreo" title="Dron de monitoreo" width="500">
            <article>
                <p><span>La selva, el océano, la sabana...</span><br>
                    Cada rincón de nuestro planeta alberga una vida única y frágil. La innovación tecnológica está
                    revolucionando la forma en que entendemos y protegemos estos ecosistemas. Desde <span>drones</span>
                    que
                    monitorean <span>nidos de tortugas marinas</span> hasta aplicaciones móviles que permiten a
                    ciudadanos reportar
                    avistamientos de <span>especies en peligro</span>, las posibilidades son infinitas. La tecnología
                    nos está
                    acercando más que nunca a encontrar soluciones duraderas para los desafíos de conservación.
                </p>
                <br>
            </article>
        </section>
        <section id="proyectos" class="proyectos">
            <article>
                <h2>PROYECTOS TECNOLÓGICOS</h2>
                <p>Nuestro planeta enfrenta una crisis de biodiversidad sin precedentes. <span>La pérdida de hábitats,
                        la
                        contaminación y el cambio climático están poniendo en peligro numerosas especies</span>. Sin
                    embargo, la
                    esperanza reside en la creciente conciencia global sobre la importancia de la conservación. Desde
                    las selvas tropicales hasta los océanos, proyectos innovadores están transformando la forma en que
                    protegemos nuestro planeta. Descubre cómo la ciencia, la tecnología y la colaboración internacional
                    están impulsando soluciones para un futuro más sostenible.
                </p>
            </article>

            <div class="galeria_p">
                <input type="button" id="preview_p" class="boton_p_p" value="">
                <picture id="imagenes_proyectos" class="imagenes_proyectos">
                    <img class="imagen-activa_p" src="/images/Bollas gps.jpg" alt="Bollas con GPS"
                        title="Bollas con GPS y sonar" width="500">
                    <img src="/images/mujes tablet.jpg" alt="Estudio de la biodiversidad"
                        title="Estudio de la biodiversidad" width="500">
                    <img src="/images/Drone-marino.jpg" alt="Dron instalador de GPS"
                        title="Dron para istalar GPS en fauna marina" width="500">
                    <img src="/images/participacion-ave.jpg" alt="Conservación de las Aves"
                        title="Cuidado de aves en peligro de extinción" width="500">
                    <img src="/images/niño-Avistamiento.avif" alt="Niño explorador valiente"
                        title="Niño explorador valiente" width="500">
                </picture>
                <input type="button" id="next_p" class="boton_p_n" value="">
            </div>

        </section>
        <section id="organizaciones" class="organizaciones">
            <article>
                <h2>ORGANIZACIONES INVOLUCRADAS</h2>
                <p><span>América Latina</span> es una región rica en biodiversidad, y muchas organizaciones trabajan
                    incansablemente para
                    protegerla. A continuación, te presento algunas de las organizaciones más destacadas involucradas en
                    la
                    conservación de la fauna</p>
            </article>
            <div class="galeria_o">
                <input type="button" id="preview_o" value="" class="boton_o_p">
                <picture id="imagenes_organizaciones" class="imagenes_organizaciones">
                    <img src="/images/2.png" alt="World Wide Fund for Nature" title="Fondo Nacional para Naturaleza"
                        width="500" class="imagenes-activas_1_o">
                    <img src="/images/3.png" alt="The Nature Conservancy" title="The Nature Conservancy" width="500"
                        class="imagenes-activas_2_o">
                    <img src="/images/4.png" alt="Conservation International" title="Conservation International"
                        width="500" class="imagenes-activas_3_o">
                    <img src="/images/5.png" alt="Guyra Paraguay" title="Organización Guyra Paraguay" width="500">
                    <img src="/images/6.png" alt="Fundación Natura Colombia" title="Fundación Natura Colombia"
                        width="500">
                </picture>
                <input type="button" id="next_o" value="" class="boton_o_n">
            </div>

        </section>

        <section id="implementacion" class="implementacion">
            <article>
                <h2>IMPLEMENTACIÓN DE PROYECTOS</h2>
                <br>
                <p>
                    La <span>innovación tecnológica</span> es clave en la conservación de la fauna en América Latina.
                    Mediante
                    <span>sensores remotos</span>, se monitorean humedales, fundamentales para muchas especies, mientras
                    que <span>sistemas
                        de rastreo</span> ayudan a estudiar el comportamiento de leones de montaña. En el mar, el
                    monitoreo de
                    ballenas mediante <span>dispositivos GPS</span>, permite entender sus rutas migratorias y
                    protegerlas de amenazas. Además, el uso de
                    <span>tecnología en prácticas sostenibles</span>, como la siembra de cacao, ayuda a preservar los
                    ecosistemas.
                    Así, estas herramientas tecnológicas apoyan la protección de especies y la gestión de hábitats
                    vitales para la biodiversidad de la región.
                </p>
            </article>
            <div class="galeria_i">
                <input type="button" id="preview_i" value="" class="boton_i_p">
                <picture id="imagenes_implementacion" class="imagenes_implementacion">
                    <a
                        href="https://www.nature.org/es-us/que-hacemos/nuestras-prioridades/proteger-la-tierra-y-el-agua/nueva-tecnologia-para-seguir-huellas-de-animales/"><img
                            src="/images/leon_de_montaña.jpg" class="imagen-activa_i"
                            alt="Monitoreo de Leon de Montaña" title="monitoreo de Leon de Montaña" width="500"></a>
                    <a
                        href="https://www.nature.org/es-us/sobre-tnc/donde-trabajamos/tnc-en-latinoamerica/chile/historias-en-chile/monitoreo-remoto-humedales-cummins-tnc/"><img
                            src="/images/humedales.jpg" alt="Conservación de Humedales"
                            title="Conservación de Humedales" width="500"></a>
                    <a
                        href="https://www.nature.org/es-us/que-hacemos/nuestras-prioridades/proporcionar-agua-y-alimentos-de-forma-sostenible/"><img
                            src="/images/cacao.jpg" alt="Siembra Sostenible" title="Siembra Sostenible"
                            width="500"></a>
                    <a
                        href="https://www.nature.org/es-us/sobre-tnc/quienes-somos/nuestra-ciencia/mar-mas-seguro-para-ballenas/"><img
                            src="/images/ballena.jpeg" alt="Monitoreo de Ballenas" title="Monitoreo de Ballenas"
                            width="500"></a>
                </picture>
                <input type="button" id="next_i" value="" class="boton_i_n">
            </div>

        </section>
        <section id="testimonios" class="testimonios">
            <article>
                <h2>TESTIMONIOS</h2>
                <br>
                <br>
                <p>Te invitamos a descubrir los testimonios de personas impactadas por la tecnología en sus campos.
                    <span>En
                        Namibia</span>, quienes protegen la vida silvestre relatan cómo la tecnología ha fortalecido las
                    <span>zonas de
                        conservación</span>, ayudándoles a monitorear especies amenazadas. <span>En Brasil</span>,
                    mujeres pioneras nos cuentan
                    su experiencia usando tecnologías para conservar <span>hábitats y restaurar el Bosque
                        Atlántico.</span> Además,
                    conocerás cómo <span>la energía solar</span> ha transformado comunidades rurales, beneficiando tanto
                    a las
                    <span>personas como a la fauna, como el jaguar</span>, al reducir la presión sobre los ecosistemas.
                    Estos
                    testimonios reflejan <span>el poder de la tecnología para cambiar vidas y proteger la
                        biodiversidad.</span>
                </p>
            </article>
            <div class="galeria_t" id="galeria_t">
                <input type="button" id="preview_t" class="boton_t_p" value="">
                <picture id="imagenes_testimonios" class="imagenes_testimonios">
                    <a
                        href="https://www.worldwildlife.org/magazine/issues/winter-2020/articles/namibia-s-conservancies-get-a-lifeline-for-people-and-wildlife"><img
                            src="/images/Testimonios_1.jpg" class="imagenes-activas_1_t"
                            alt="Zonas de Conservación en Namibia" title="Zonas de Conservación en Namibia"
                            width="500"></a>
                    <a
                        href="https://www.worldwildlife.org/stories/meet-the-women-in-tech-blazing-a-trail-for-conservation" ><img
                            src="/images/Testimonios_2.jpg"
                            alt="Mujeres En La Tecnología, Un Camino Para La Conservación" class="imagenes-activas_2_t"
                            title="Mujeres En La Tecnología, Un Camino Para La Conservación" width="500"></a>
                    <a
                        href="https://www.worldwildlife.org/magazine/issues/summer-2021/articles/restoring-brazil-s-atlantic-forest"><img
                            src="/images/Testimonios_3.jpg" class="imagenes-activas_3_t"
                            alt="Restauracion del Bosque Atlántico en Brasil"
                            title="Restauracion del Bosque Atlántico en Brasil" width="500"></a>
                    <a href="https://www.worldwildlife.org/stories/how-solar-power-is-helping-a-community-and-jaguars"><img
                            src="/images/testimonios_4.jpg"
                            alt="La energía solar ayuda a una comunidad y a los jaguares"
                            title="La energía solar ayuda a una comunidad y a los jaguares" width="500"></a>
                </picture>
                <input type="button" id="next_t" class="boton_t_n" value="">
            </div>
        </section>

    </main>
    <footer>

        <h2>Todos los Derechos reservados</h2>

    </footer>
    <script src="/js/tecnologia.js"></script>
</body>

</html>



<!-- 

https://i0.wp.com/idc.apddrones.com/wp-content/uploads/2023/07/20230718_103605_0000.jpg?fit=800%2C400&ssl=1

https://www.inkaterra.com/inkaterra-asociacion-org/wp-content/uploads/2017/08/Slider_Camara_trampa5.jpg

https://www.marinecue.it/wp-content/uploads/2018/07/Drone-marino.jpg

https://www.carbono.news/files/image/5/5903/6479de37263b5_920_517!.jpg?s=c332f21a9f70fff0facb1d206295f67b&d=1717568408

https://www.canonvalles.com/wp-content/uploads/2023/05/que-es-big-data-impulsando-el-poder-del-analisis-de-datos.jpg

https://www.santanderopenacademy.com/es/blog/principales-aplicaciones-big-data/_jcr_content/root/hero/imageMobile.coreimg.jpeg/1709554003404/principales-aplicaciones-del-big-data-1.jpeg

https://www.elpais.com.co/resizer/v2/OUGGGZNBLBABVP47FNCMZQMQNE.jpg?auth=479eacf2946e72312c56ccb124defdcb3e40d7592dc641b5d378acba22aacdcb&smart=true&quality=75&width=1280&height=960

https://img.freepik.com/fotos-premium/desarrollar-desafio-observacion-vida-silvestre-donde-participantes-documenten-avistamientos-diferentes-animales_1107779-21678.jpg



https://climate-transparency-platform.org/sites/default/files/2023-05/WWF-logo.png
https://cdn.worldvectorlogo.com/logos/nature-conservancy-1.svg
https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/CIlogo.svg/1200px-CIlogo.svg.png
https://guyra.org.py/wp-content/uploads/2016/03/logo-nuevo.png 

implementacion
https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/f/other/F_TRACK_5-6.jpg?crop=0%2C0%2C3556%2C2667&wid=820&hei=615&scl=4.336585365853659
https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/monitoreo_remoto_humedales_altoandinos_tnc_cummins_6.jpg?wid=320
https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/latin-america/cacao33.jpg?crop=0%2C233%2C4000%2C2200&wid=2000&hei=1100&scl=2.0
https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/humpback-whale.jpeg?crop=0%2C84%2C4000%2C2200&wid=2000&hei=1100&scl=2.0

Testimonios
https://files.worldwildlife.org/wwfcmsprod/images/Namibia_tourism_WW_winter_2020/magazine_medium/1pfvk3zyjk_namibia_meal_WWwinter2020.jpg
https://files.worldwildlife.org/wwfcmsprod/images/Florence_Adewale_Elephants/magazine_hero/31qpykb77l_IMG_5661.JPG
https://files.worldwildlife.org/wwfcmsprod/images/Brazil_seedlings_WWsummer2021/magazine_medium/4xznj5tgac_Brazil_seedlings_WWsummer2021.jpg
https://files.worldwildlife.org/wwfcmsprod/images/jaguar_Mexico_camera_trap/story_full_width/21b7akvibl__DSC0022__1_min_1_.jpg

-->